{% extends theme("layout.html") %}
{% from "macros/_forms.html" import render_errors %}
{% block js%}{% endblock %}

{% block content %}
    <h2 class="title">{{ _('Login to pypress') }}</h2>
    <div id="sign">
        <form method="POST" action=".">
        <fieldset>
            {{ form.hidden_tag() }}
                <p>
                    {{ form.login.label }}
                    {{ form.login(size=30) }} {{ render_errors(form.login) }}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password(size=30) }} {{ render_errors(form.password) }}
                </p>
                <p>
                    {{ form.remember.label }}
                    {{ form.remember }}
                </p>
                <p>

                    {{ form.submit(class="formbutton") }}
                </p>
            </tbody>
            </table>
        </fieldset>
        </form>
    </div>
{% endblock %}
