{% extends theme("layout.html") %}

{% from "macros/_forms.html" import render_errors %}

{%- block content %}
<div class="content">
    <h2 class="title">{{ _("Add link") }}</h2>
    <div id="add_link">
        <form method="POST" action=".">
        <fieldset>
            {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}
                    {{ form.name(size=30, class="text") }} {{ render_errors(form.name) }}
                </p>
                <p>
                    {{ form.link.label }}
                    {{ form.link(size=50, class="text") }} {{ render_errors(form.link) }}
                </p>
                <p>
                    {{ form.email.label }}
                    {{ form.email(size=50, class="text") }} {{ render_errors(form.email) }}
                </p>
                <p>
                    {{ form.logo.label }}
                    {{ form.logo(size=50, class="text") }} {{ render_errors(form.logo) }}
                </p>
                <p>
                    {{ form.description.label }}
                    {{ form.description(class="text", style="width:400px;height:100px;") }} {{ render_errors(form.description) }}
                </p>
                <p>

                    {{ form.submit(class="formbutton") }}
                </p>
            </fieldset>
        </form>
    </div>
</div>
{%- endblock %}
