{% extends theme("layout.html") %}

{% from "macros/_page.html" import paginate %}
{% from "macros/_forms.html" import render_errors %}

{%- block content %}
<div class="content">
    <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {%- if parent %}
        <div class="post-content">{{ parent.markdown }}</div>
    {%- endif %}
    <div id="add_comment">
    <form method="post" action=".">
        <fieldset>
        {{ form.hidden_tag() }}
            {%- if g.user %}
                {{ form.email(type='hidden',value=g.user.email) }}
                {{ form.nickname(type='hidden',value=g.user.nickname) }}
            {%- else %}
                <p>{{ form.email.label }}
                {{ form.email(size=50, class="text") }} {{ render_errors(form.email) }}</p>
                <p>{{ form.nickname.label }}
                {{ form.nickname(size=50, class="text") }} {{ render_errors(form.nickname) }}</p>
                <p>{{ form.website.label }}
                {{ form.website(size=50, class="text") }} {{ render_errors(form.website) }}</p>
            {%- endif %}
                <p>{{ form.comment.label }}
                {{ form.comment }} {{ render_errors(form.comment) }}</p>
            {% if not g.user %}
                {{ form.recaptcha }}
            {% endif %}
                {{ form.submit(class="formbutton") }}
            </fieldset>
    </form>
    </div>
</div>
{%- endblock %}
