{% extends theme("layout.html") %}

{% from "macros/_page.html" import paginate %}

{%- block content %}
<div class="content">
{%- if page_obj.items %}
    {%- for post in page_obj.items %}
        <div id="post-{{ post.id }}" class="post">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-byline">
                <abbr title="{{ post.created_date|format_date('full') }}" class="time">{{ post.created_date|format_date('medium') }}</abbr>
            </div>
            {% if post.tags %}<div class="post-tags">{% for tag,url in
            post.linked_taglist %}<a href="{{ url }}">{{ tag }}</a>{{ ', ' if not
            loop.last }}{% endfor %}</div>{% endif %}
            <div class="post-summary">
{#                {{ post.summary|endtags|code_highlight|safe }}#}
                {{ post.summary|creolify|code_highlight|safe }}
            </div>
            <div class="post-info"><img alt="comment" src="{{ theme_static('comment.gif') }}"> <span class="post-comments"><a href="{{ post.url }}#comments">{{ post.num_comments }} comments</a></span></div>
            {%- if post.update_date %}
            <div class="post-meta">
                <span>{{ _("Modified at") }} <abbr title="{{ post.update_date|format_date('full') }}" class="time">{{ post.update_date|timesince }}</abbr></span>
            </div>
            {%- endif %}
        </div>
    {%- endfor %}
    {{ paginate(page_obj, page_url) }}
{%- else %}
    <p>{{ _("Nobody's posted anything yet.") }}</p>
{%- endif %}
<div class="inner">All the bloggy goodness:
<a href="/tags/">All tags</a>
<a href="/feeds/">RSS feed</a>
</div>
</div>
{%- endblock %}
