{% extends theme("layout.html") %}

{% from "macros/_forms.html" import render_errors %}

{%- block content %}
<div class="single">
    <h2 class="title">{{ _('Submit a post') }}</h2>
    Would you like to <a href="{{url_for('uploads.add')}}">upload a file?</a>
    Or <a href="{{url_for('uploads.index')}}">see all uploads?</a>
    <form method="POST" action=".">
        <fieldset>
        {{ form.hidden_tag() }}
            <p>{{ form.title.label }}
            {{ form.title }} {{ render_errors(form.title) }}
            </p>
            <p>
                {{ form.slug.label }}
                {{ form.slug }} {{ render_errors(form.slug) }}
            </p>
            <p>
                {{ form.tags.label }}
                {{ form.tags }} {{ render_errors(form.tags) }}
            </p>
            <p>
                {{ form.page.label }}
                {{ form.page }} {{ render_errors(form.page) }}
            </p>
            <p>
                {{ form.content.label }}
                {{ form.content(style="width:590px;height:300px") }} {{ render_errors(form.content) }}
            </p>
            <div class="clear"/>
                {{ form.submit(class="formbutton") }}
        </fieldset>
    </form>

</div>
{% endblock %}
{% block js %}{% endblock %}